In [1]:
import pandas as pd

In [2]:
# Load the dataset
df = pd.read_csv('Data/start.csv')

In [7]:
# Test if the all the values in these columns is zero
print(sum(df.sunrise), sum(df.sunset))

0 0

In [10]:
# Remove two columns with only zero values
df = df.drop(['sunrise', 'sunset'], axis=1)

In [13]:
# Change the date format to be more readable
df['date'] = pd.to_datetime(df['date']).dt.strftime('%Y/%m/%d')

In [20]:
# See if the column is the correct data type
set(df.weather_code.unique())

{np.float64(0.0),
 np.float64(1.0),
 np.float64(2.0),
 np.float64(3.0),
 np.float64(51.0),
 np.float64(53.0),
 np.float64(55.0),
 np.float64(61.0),
 np.float64(63.0),
 np.float64(65.0),
 np.float64(71.0),
 np.float64(73.0),
 np.float64(75.0)}

In [21]:
df['weather_code'] = df['weather_code'].astype(int)

In [22]:
# Inspect the data
df.head()

,date,weather_code,temperature_2m_max,temperature_2m_min,temperature_2m_mean,apparent_temperature_max,apparent_temperature_min,apparent_temperature_mean,daylight_duration,sunshine_duration,precipitation_sum,rain_sum,snowfall_sum,precipitation_hours,wind_speed_10m_max,wind_gusts_10m_max,wind_direction_10m_dominant,shortwave_radiation_sum,et0_fao_evapotranspiration,City
0,1989/12/31,1,3.7505,-2.9995,-0.076583,0.898987,-5.818353,-2.794004,30754.969,25424.652,0.0,0.0,0.0,0.0,2.545584,11.879999,335.026100,5.56,0.476961,Zurich
1,1990/01/01,1,4.5005,-4.0495,-0.080750,1.624582,-6.882779,-2.926928,30813.893,25491.350,0.0,0.0,0.0,0.0,5.052841,12.599999,332.002960,5.49,0.500982,Zurich
2,1990/01/02,1,4.0505,-4.0995,-1.020333,0.180788,-8.012788,-4.714355,30877.549,25503.260,0.0,0.0,0.0,0.0,9.178235,25.199999,29.066843,5.60,0.546437,Zurich
3,1990/01/03,3,2.5505,-4.5495,-1.357833,-0.165994,-8.003006,-4.388062,30945.828,18682.740,0.0,0.0,0.0,0.0,5.351785,13.679999,356.845280,4.44,0.405223,Zurich
4,1990/01/04,51,4.4505,-3.4495,-0.018250,1.477664,-6.503490,-3.029862,31018.617,24029.326,1.0,1.0,0.0,5.0,7.200000,18.359999,236.607400,3.65,0.386904,Zurich

In [4]:
# Assuming you already have a DataFrame called 'df'
random_sample = df.sample(n=20)

In [6]:
random_sample.to_json('Data/random_sample.csv')